body {
  width: 100%;
  height: 100vh;
  background-color: #b87575;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.wrapper {
  max-width: 704px;
  height: 100vh;
  background-color: red;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .wrapper-text-area {
  width: 100%;
}

.wrapper .wrapper-keyboard {
  max-height: 250px;
  width: 704px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.wrapper .wrapper-keyboard .keyboard-first-row,
.wrapper .wrapper-keyboard .keyboard-second-row,
.wrapper .wrapper-keyboard .keyboard-third-row,
.wrapper .wrapper-keyboard .keyboard-fourth-row,
.wrapper .wrapper-keyboard .keyboard-fifth-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.wrapper .wrapper-keyboard .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 40px;
  border: 2px solid black;
  border-radius: 5px;
  -webkit-transition: .7s;
  transition: .7s;
}

.wrapper .wrapper-keyboard .button-backspase {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.wrapper .wrapper-keyboard .button-tab {
  width: 50px;
}

.wrapper .wrapper-keyboard .button-capslock {
  text-align: center;
  width: 55px;
}

.wrapper .wrapper-keyboard .button-enter {
  width: 97px;
}

.wrapper .wrapper-keyboard .button-shift {
  width: 63px;
}

.wrapper .wrapper-keyboard .right-shift {
  width: 89px;
}

.wrapper .wrapper-keyboard .button-win {
  background-position: center;
  background-size: cover;
  width: 40%;
  height: 40%;
  background-image: url(./assets/svg/brandico_win.svg);
}

.wrapper .wrapper-keyboard .button-space {
  width: 308px;
}

.wrapper .wrapper-keyboard .button-arrow-up,
.wrapper .wrapper-keyboard .button-arrow-left,
.wrapper .wrapper-keyboard .button-arrow-down,
.wrapper .wrapper-keyboard .button-arrow-right {
  background-position: center;
  background-size: cover;
  width: 60%;
  height: 80%;
}

.wrapper .wrapper-keyboard .button-arrow-up {
  background-image: url(./assets/svg/entypo_arrow-up.svg);
}

.wrapper .wrapper-keyboard .button-arrow-left {
  background-image: url(./assets/svg/entypo_arrow-left.svg);
}

.wrapper .wrapper-keyboard .button-arrow-right {
  background-image: url(./assets/svg/entypo_arrow-right.svg);
}

.wrapper .wrapper-keyboard .button-arrow-down {
  background-image: url(./assets/svg/entypo_arrow-down.svg);
}

.wrapper .wrapper-keyboard .hide {
  display: none;
}

.wrapper .wrapper-keyboard .animation-button {
  -webkit-animation: buttons ease-in-out .7s;
          animation: buttons ease-in-out .7s;
}

@-webkit-keyframes buttons {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    border-radius: 5px;
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    border-radius: 20px;
    background-color: #6289bd;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    border-radius: 5px;
    background-color: none;
  }
}

@keyframes buttons {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    border-radius: 5px;
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    border-radius: 20px;
    background-color: #6289bd;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    border-radius: 5px;
    background-color: none;
  }
}
